<h1>Order # <%= @current_order.id %></h1>
<div>
Subtotal: <%= number_to_currency(@current_order.subtotal) %>
</div>
<div>
Tax amount: <%= number_to_currency(@current_order.tax) %>
</div>
<div>
Total price: <%= number_to_currency(@current_order.total) %>
</div>

<% @current_order.carted_products.each do |item| %>
<span><%= item.product.name %></span>
<span><%= item.quantity %></span>
<% end %>



