<%= form_tag '/products', method: :post do %>
<ul>
  <% if @new_product && @new_product.errors.any? %>
    <% @new_product.errors.full_messages.each do |message| %>
      <li class = "bad-entry"><%= message %></li>
    <% end %>
  <% end %>
</ul>
<div>
  <%= label_tag :name, "name" %>
  <%= text_field_tag :name, @new_product.name %>
</div>
<div>
  <%= label_tag :price, "price" %>
  <%= text_field_tag :price, @new_product.price %>
</div>
<div>
  <%= label_tag :description, "description" %>
  <%= text_area_tag :description, @new_product.description %>
</div>
<div>
  <%= label_tag :stock, "stock" %>
  <%= text_field_tag :stock, "IS THIS IN STOCK?" %>
</div>
<div>
  <%= label_tag :supplier, "supplier" %>
  <%= text_field_tag :supplier %>
</div>
<div>
  <%= label_tag :rating, "rating" %>
  <%= text_field_tag :rating %>
</div>

<div>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="testvalue"> 1
</label>
</div>


<div>
  <%= submit_tag "add" %>
</div>
<% end %>
