<h1><%= @fetch_product.name %></h1>
<h2><%= @fetch_product.user.email %></h2>
<% @fetch_product.images.each do |image| %>
<div>
<img src="<%= image.url %>">
</div>
<% end %>
<div>
<p>
<%= @fetch_product.sale_message %>
</p>
</div>
<div>
<p>Supplier: <%= @fetch_product.supplier.name %></p>
</div>
<div>
<p>Price: <%= @fetch_product.price %></p>
</div>
<div>
<p>Tax amount: <%= number_to_currency(@fetch_product.tax) %></p>
</div>

<div>
<p>Total price: <%= @fetch_product.total %></p>
</div>

<div>
<%= @fetch_product.description %>
</div>

<div>
<p>In stock: <%= @fetch_product.stock %></p>
</div>
<div>
<p>Rating: <%= @fetch_product.rating %></p>
</div>



<%= form_tag '/orders', method: :post do %>
<%= hidden_field_tag :product_id, @fetch_product.id %>
<%= hidden_field_tag :subtotal_mult, @fetch_product.price %>
<%= hidden_field_tag :tax_mult, @fetch_product.tax  %>
<%= hidden_field_tag :total_mult, @fetch_product.total  %>
<span>
  <%= label_tag :quantity, "quantity" %>
  <%= text_field_tag :quantity %>
</span>
<span>
  <%= submit_tag "Buy Now" %>
</span>
<% end %>



<%= link_to "delete", "/products/#{@fetch_product.id}", method: :delete %>
<%= link_to "edit", "/products/#{@fetch_product.id}/edit", method: :get %>

