<h1><%= @fetch_product.name %></h1>
<div>
<img src="<%= @fetch_product.image? %>">
</div>
<div>
<p>
<%= @fetch_product.sale_message %>
</p></div>
<div>
<p>Price: <%= @fetch_product.price %></p>
</div>
<div>
<p>Tax amount: <%= number_to_currency(@fetch_product.tax) %></p>
</div>

<div>
<p>Total price: <%= @fetch_product.total %></p>
</div>

<div>
<%= @fetch_product.description %>
</div>

<div>
<p>In stock: <%= @fetch_product.stock %></p>
</div>
<div>
<p>Rating: <%= @fetch_product.rating %></p>
</div>




<%= link_to "delete", "/products/#{@fetch_product.id}", method: :delete %>
<%= link_to "edit", "/products/#{@fetch_product.id}/edit", method: :get %>

